<h4>Showing Post</h4>
<br />
Title: <%= link_to @post.title, fix_url(@post.url) %>
</br>
URL: <%= @post.url %>
<br />
Description: <%= @post.description %>
<br />
<% if logged_in? %>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <br />
<% end %>
Categories: <% @post.categories.each do |cat| %>
              <%= cat.name %>
            <% end %>


<h5>Comments:</h5>

<% if logged_in? %>
<%= render 'shared/errors', obj: @comment %>
<%= form_for [@post, @comment] do |f| %>
	<%= f.text_area :body %>
	<br />
	<%= f.submit "Create Comment" %>
<% end %>
<% end %>

<ul>
<% @post.reload.comments.each do |comment| %>
  <li><%= comment.body %></li>
<% end %>
</ul>

